* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family : 'Inter';
  src         : url('../assets/fonts/Inter-Medium-slnt=0.ttf');
}

:root {
  /*  Tamaños  */
  --header-height     : 3rem;
  --body-line-height  : 1.6;
  --block-spacing     : 1rem;

  /*  Colores  */
  --primary-color     : #000A3A;
  --title-color       : #121F26;
  --text-color        : #FFFFFF;
  --body-bg-color     : #FAFDFF;
  --white-color       : #ffffff;
  --color             : var(--primary-color);

  /*  Fuentes  */
  --body-font  : 'Inter', sans-serif;
  --title-font : 'Inter', sans-serif;

  /* Tamaños de fuentes */
  --h1-font-size      : 2rem;
  --h2-font-size      : 1.5rem;
  --medium-font-size  : 1.875rem;
  --small-font-size   : 0.75rem;

  /* Otros */
  --border-radius-button : 5rem;
}

@media screen and (min-width: 1024px) {

  /*  Variables de tamaño en desktop  */
  :root {
    --header-height         : 4rem;
    --h1-font-size          : 3rem;
    --h2-font-size          : 2rem;
    --block-spacing         : 4rem;
  }
}

body {
  display          : flex;

  text-align: center;
  flex-direction   : column;
  min-height       : calc(100vh - var(--header-height));
  color            : var(--text-color);
  font-family      : var(--body-font);
  font-size        : var(--medium-font-size);
  line-height      : var(--body-line-height);
  background-color : var(--body-bg-color);
}

a {
  color : var(--primary-color);
}

h1,
h2 {
  margin-top  : 0;
  color       : var(--title-color);
  font-family : var(--title-font);
  line-height : var(--title-line-height);
  font-weight : 800;
}

h1 {
  font-size:  var(--h1-font-size);
}

h2 {
  font-size : var(--h2-font-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main h1 {
  margin-bottom : 0;
  padding-top   : var(--block-spacing);
}

.content-wrapper {
  width        : calc(100% - 2rem);
  max-width    : var(--max-width);
  margin-left  : 1rem;
  margin-right : 1rem;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    width        : 100%;
    margin-left  : auto;
    margin-right : auto;
  }
}

.button {
  display         : inline-block;
  padding         : 0.7rem 1.95rem;
  border-radius   : var(--border-radius-button);
  font-size       : var(--small-font-size);
  text-decoration : none;
  font-weight     : 500;
  color           : var(--white-color);
  background      : var(--color);
  border          : 1px solid var(--color);
}

/* ----- PRINCIPAL ----- */

.main-container {
  display: flex;
}

@media screen and (max-width: 1024px) {

  .main-container {
    text-align: center;
  }
}

.buttons-container {
  display               : grid;
  justify-content       : center;
  grid-template-columns : 60px 60px 60px;
  grid-template-rows    : 60px 60px 60px;
  column-gap            : 10px;
  row-gap               : 10px;
  margin-bottom         : 2rem;
}

img {
  width : 60px;
  height: 60px;
}

.btn-top,
.btn-right,
.btn-bottom,
.btn-left {
  width       : 60px;
  height      : 60px;
  justify-self: center;
  align-self  : center;
}

.btn-top {
  grid-column-start : 2;
  grid-column-end   : 3;
  grid-row-start    : 1;
  grid-row-end      : 2;
}
.btn-right {
  grid-column-start : 3;
  grid-column-end   : 4;
  grid-row-start    : 2;
  grid-row-end      : 3;
}
.btn-bottom {
  grid-column-start : 2;
  grid-column-end   : 3;
  grid-row-start    : 3;
  grid-row-end      : 4;
}
.btn-left {
  grid-column-start : 1;
  grid-column-end   : 2;
  grid-row-start    : 2;
  grid-row-end      : 3;
}

#gauge-textfield{
  width:200px;
}
#gauge{
  height:100px;
  width :200px;
}
.wrap{
  position:absolute;
  top     :250px;
  left    :50px;
}


